.movies {
    display : flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px;

}

#movie {
    width: 300px;
}

#movie img {
    opacity: 100%;
    width: 200px;
}

#movie img:hover {
    opacity: 80%;
}